html {
    background-image: url("../../assets/img/black-particles.png");
}
@font-face {
    font-family: "Lemon/Milk";
    src: url("../../assets/fonts/LemonMilk.otf") format("opentype");
}

#projectname {
    font-family: "Lemon/Milk", sans-serif;
    font-weight: normal;
}
#projectbrief {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 20pt;
}
#titlearea {
    background-image: url("../../assets/img/black-particles.png");
    color: white;
    border: none;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
p {
    font: 300 18px/27px 'Lato', sans-serif;
}

img[src="../../assets/img/splash.png"] {
    width: 100%;
    height: auto;
}

.sm-dox {
    background-image: none;
    background-color: #007833;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
}
.sm-dox a {
    background-image: url("../styles/nav_s.png");
    text-shadow: none;
}
.PageDoc {
    background-image: url("../../assets/img/black-particles.png");
}
div.contents {
    background-color: #222222;
    background-position: left top;
    background-clip: padding-box;
    padding-top:10px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom:10px;
    margin: 14px 0 0 0;
    color: white;
}
div.header {
    background-color: #222222;
    background-image: none;
    border:none;
}
h1, h2, .title, p, div.textbox {
    color: white;
}
body {
    background-color: rgba(0,0,0,0);
}
.directory tr.even {
    background-color: #2D2D2D;
}
address.footer {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #222222;
    -webkit-box-shadow: inset 0px 5px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 14px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 14px 0px rgba(0,0,0,0.75);
}

#main-nav {
    z-index: 100;
    -webkit-box-shadow: 0px 7px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 32px 12px 3px rgba(0,0,0,0.75);
}

.sm-dox a {
    color: #D4D4D4;
}
.sm-dox a span.sub-arrow {
    border-color: #D4D4D4 transparent transparent transparent;}
.sm-dox a:hover {
    background-image: none;
    background-color: #005223;
    text-shadow: none;
}
.title {
    font-size: 175%;
}
.textblock h2 {
    font-weight: normal;
}
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: #2D2D2D;
}
a {
    color: #009C33;
}
.contents a:visited {
    color: #009C33;
}
h2.groupheader {
    color: #007833;
}
dl.section {
    padding-left:0.5em;
}
dl.author {
    border-left: medium solid blue;
}
dl.date {
    border-left: medium solid green;
}
dl.copyright {
    border-left: medium solid red;
}
.memtitle, .memproto {
    background-image: none;
    background-color: #007833;
    text-shadow: none;
    border:none;
}
.memdoc {
    background-color: #007856;
    border:none;
}
td > a {
    color: #009C33;
}
td.paramname {
    color: cadetblue;
}
.footer small {
    color:#005223;
}