page-colors-popover {
  text-align: center;

  [colors-container] {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 6px;
  }
}

